//variables
$color-dark-primary: #404040;
$color-dark-secondary: #616161;
$color-green-primary: #80e8d0;
$color-green-secondary: #4cb59f;
$color-gray-primary: #b4b4b4;
$color-gray-secondary: #e0e0e0;
$color-error: #d32f2f;

//font-sizes
$font-size-small: 1.2rem;
$font-size-normal: 1.6rem;
$font-size-large: 1.8rem;

//properties
$button-progress-border: 4px solid #4cb59f;
$button-progress-radius: 20px;
