.auto-complete {
  label {
    font-family: inherit;
    font-size: $font-size-normal;
  }
  fieldset {
    border: 0.5px solid $color-gray-primary;
    border-radius: 16px;
  }
  .MuiOutlinedInput-root {
    color: $color-dark-secondary;
  }
}
