@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont.eot");
  src: url("../fonts/woff2/SansFont.woff2") format("woff2"), url("../fonts/woff/SansFont.woff") format("woff"), url("../fonts/ttf/SansFont.ttf") format("truetype"); }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Bold.eot");
  src: url("../fonts/woff2/SansFont_Bold.woff2") format("woff2"), url("../fonts/woff/SansFont_Bold.woff") format("woff"), url("../fonts/ttf/SansFont_Bold.ttf") format("truetype");
  font-weight: bold; }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Light.eot");
  src: url("../fonts/woff2/SansFont_Light.woff2") format("woff2"), url("../fonts/woff/SansFont_Light.woff") format("woff"), url("../fonts/ttf/SansFont_Light.ttf") format("truetype");
  font-weight: 200; }

@font-face {
  font-family: "SansFont";
  src: url("../fonts/eot/SansFont_Black.eot");
  src: url("../fonts/woff2/SansFont_Black.woff2") format("woff2"), url("../fonts/woff/SansFont_Black.woff") format("woff"), url("../fonts/ttf/SansFont_Black.ttf") format("truetype");
  font-weight: 900; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'SansFont', Arial, sans-serif; }

html {
  font-size: 62.5%; }

body {
  font-family: 'SansFont', Arial, sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  direction: rtl;
  box-sizing: border-box;
  overflow-x: hidden; }

h1,
h2,
h3,
p {
  margin-bottom: 0; }

.MuiInputBase-root.MuiOutlinedInput-root {
  font-family: inherit;
  font-size: 1.6rem; }

.register_button {
  position: relative;
  height: 56px; }

.register_button .button-wrapper {
  position: absolute;
  width: 100%;
  top: 0px;
  padding: 4px;
  border: 4px solid #e0e0e0;
  border-radius: 20px; }

.register_button .square {
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 1; }

.register_button .top-right {
  top: 0;
  right: 0;
  border-top: 4px solid #4cb59f;
  border-right: 4px solid #4cb59f;
  border-top-right-radius: 20px; }

.register_button .top-left {
  top: 0;
  left: 0;
  border-top: 4px solid #4cb59f;
  border-left: 4px solid #4cb59f;
  border-top-left-radius: 20px; }

.register_button .bottom-right {
  bottom: 0;
  right: 0;
  border-bottom: 4px solid #4cb59f;
  border-right: 4px solid #4cb59f;
  border-bottom-right-radius: 20px; }

.register_button .bottom-left {
  bottom: 0;
  left: 0;
  border-bottom: 4px solid #4cb59f;
  border-left: 4px solid #4cb59f;
  border-bottom-left-radius: 20px; }

.text-field .MuiInputLabel-root,
.text-field .MuiOutlinedInput-root {
  font-family: inherit;
  font-size: 1.6rem;
  color: #616161; }

.text-field fieldset {
  border: 0.5px solid #b4b4b4;
  border-radius: 16px; }

.text-field .MuiFormHelperText-root {
  font-size: 1.2rem; }

.auto-complete label {
  font-family: inherit;
  font-size: 1.6rem; }

.auto-complete fieldset {
  border: 0.5px solid #b4b4b4;
  border-radius: 16px; }

.auto-complete .MuiOutlinedInput-root {
  color: #616161; }

.register {
  min-height: 100vh;
  padding: 2rem;
  background-image: url("../images/register.svg");
  background-repeat: no-repeat;
  background-size: cover; }

.register .primary-text {
  font-size: 2rem;
  padding-top: 65%;
  color: #404040; }

.register .secondary-text {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  color: #404040; }

.register > div:not(:last-child) {
  margin-bottom: 1.6rem; }

.register .button.MuiButton-root,
.register .button.MuiButton-root:hover {
  background-color: #80e8d0;
  border-radius: 13px;
  height: 40px;
  z-index: 2; }
